body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
}

/* Botão */
#reiniciar {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 15px;
    border-radius: 8px;
    border: none;
    background: #333;
    color: white;
    transition: 0.2s;
}

#reiniciar:hover {
    background: #555;
}

/* TABULEIRO */
#tabuleiro {
    width: 480px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid #333;
    margin-top: 10px;
}

.casa {
    width: 60px;
    height: 60px;
}

.clara {
    background: #e0c9a6;
}

.escura {
    background: #8b5a2b;
}

/* PEÇAS 3D */
.peca {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
    margin-top: 7px;
    cursor: pointer;
    box-shadow: 
        inset -2px -2px 4px rgba(0,0,0,0.5),
        inset 2px 2px 4px rgba(255,255,255,0.6),
        0px 4px 6px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    transition: transform 0.2s;
}

.peca:hover {
    transform: scale(1.1);
}

.vermelha {
    background: #b00000;
}

.preta {
    background: #000;
}

/* Seleção da peça */
.selecionada {
    outline: 4px solid yellow;
}
